@import 'utils';

.header {
	height: 3.5rem;

	&.solid {
		background: linear-gradient(to right, #161616, #6d6c6a);
	}

	transition: all 0.3s ease-in;

	&.shadow {
		background: linear-gradient(to right, #161616, #6d6c6a);
		@include material-shadow(2, 0.75);
	}

	// background: material-color('teal', '600');
	.responsive {
		position: relative;
		padding-left: 1rem;
		padding-right: 1rem;
		@include responsive();
		display: flex;
		height: 100%;
		align-items: center;

		.desktop-only {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			@include media("<medium") {
				display: none;
			}
		}
		.mobile-only {
			@include media(">=medium") {
				display: none;
			}
		}
	}

	.login-button {
		margin-left: 1rem;
		width: 65px;
		&:hover {
			color: material-color('grey', '700');
		}
	}
}