@import 'utils';

.text-button {
    padding-bottom: 0.15rem;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: material-color('grey', '500');
    &.right {
        margin-left: auto;
    }
    &:hover {
        color: material-color('grey', '700');
        border-bottom: 1px solid material-color('grey', '700');
    }
    &:active {
        color: material-color('grey', '800');
        border-bottom: 1px solid material-color('grey', '800');
    }
}